*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e67171, #6959b6);
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 120px auto 40px;
    padding: 50px 40px 80px;
    border-radius: 20px;
}
.todo-app h2{
     color: #002765;
     display: flex;
     align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
h2{
    display: flex;
    align-items: center;
    color: #002765;
    font-weight: 600;
}
h2 img{
    width: 30px;
    margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f0;  /* light gray bar like in screenshot */
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent; 
  padding: 12px 15px;
  font-size: 16px;
}

.row button {
  border: none;
  outline: none;
  background: #ff6600;    
  color: #fff;            
  padding: 12px 20px;
  margin-left: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.row button:hover {
  background: #e55a00;    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
