*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e67171, #6959b6);
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 120px auto 40px;
    padding: 50px 40px 80px;
    border-radius: 20px;
}
.todo-app h2{
     color: #002765;
     display: flex;
     align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
h2{
    display: flex;
    align-items: center;
    color: #002765;
    font-weight: 600;
}
h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.input{
    flex: 1;
    border: none;
    outline: none

}
